<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Order Confirmation</h2>

<p>Thank you for your order!</p>

<p><strong>Product:</strong> {{ order.product.name }}</p>
<p><strong>Quantity:</strong> {{ order.qnty }}</p>
<p><strong>Total Price:</strong> ${{ order.offer_price }}</p>
<p><strong>Status:</strong> {{ order.status }}</p>

<p>We will notify you once the order is shipped!</p>
</body>
</html>